<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraper Input</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/jquery.dataTables.css">
  </head>
  <body>
    <div class="container">
    {{{body}}}
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    {{!-- <script src="/public/js/jquery-3.5.1.slim.min.js"></script> --}}
<script type="text/javascript" src="/public/js/jquery-3.6.0.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="public/js/jquery.dataTables.js"></script>

   <script>
    async function submitForm() {
  try {
    const url = document.getElementById('url').value;
    const elementId = document.getElementById('elementId').value;
    const limit = document.getElementById('limit').value;
    const pages = document.getElementById('pages').value;
    const saveFormat = document.getElementById('saveFormat').value;

    // Display loading message
    document.getElementById('messages').innerHTML = 'Scraping in progress...';
  console.log("body data --->", url, elementId,limit,pages,saveFormat);
    // Make an AJAX request to start scraping
    $.ajax({
      method:'POST',
      url:'/scrape',
      type:'application/json',
      data:{url,elementId, limit,pages,saveFormat},
      success:async (response)=>{ 
        if (!response.ok) {
          // If the response status is not okay, throw an error
          throw new Error(`Failed to scrape: ${response.status} - ${response.statusText}`);
        }

        const data = await response.json();

        // Display success message
        document.getElementById('messages').innerHTML = 'Scraping completed successfully!';

      }
    })
    // Process and display the scraped data as needed

  } catch (error) {
    // Display error message
    document.getElementById('messages').innerHTML = `Error during scraping: ${error.message}`;
  }
}

  </script>
  </body>
  </html>