<div style="margin-top: 50px; position:relative;">
<h3 class="m-5">Businesses scraped from : {{businesses}}</h3>

</div>
  <div class="container mt-4" style="margin-bottom: 200px;">
    <table class="table table-bordered table-striped" id="businessTable">
      <thead>
        <th>name</th>
        <th>address</th>
        <th>description</th>
      </thead>
      <tbody id="tableBodyBusiness">
        {{#each businesses}}
          <tr>
            <td>{{name}}</td>
            <td>{{address}}</td>
            <td>{{description}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

<!-- Initialize DataTables -->
<script type="text/javascript" src="/public/js/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#businessTable').DataTable();
  });
</script>