<div class="content">
  <section class="flex row">
    <div class="col-7 m-4">
      <h3>Hii ni <strong class="text-success">pekua.js</strong></h3><br />
      <h5><strong>Pekua ni nini?</strong> </h5>
      <p>
        Pekua ni programu iliyoandikwa kwa javascript yenye uwezo wa kupekua
        tovuti au wavuti wowote na kukusanya taarifa hasa zinazojirudia rudia na
        kukurudishia kwa mfumo wa csv au json.
        <br />
        Mfano Kama kuna jedwali katika tovuti na ungependa kunakili taarifa zake
        unaweza kuitumia badala ya wewe kupekua kila jedwali na kuzinakili.
        Hivyo pekua hufanya kazi hiyo kwa haraka zaidi.
        <br /><br />
        <strong class="text-danger">Tahadhari: </strong>Ni kosa kisheria
        kunakili taarifa za wavuti au tovuti yoyote bila ruhusa kutoka kwa
        mmiliki au wamiliki wa tovuti au wavuti kuo. Tafadhali zingatia sheria
        hii kabla ya kutumia pekua.js. Wamiliki au mmiliki wa pekua hatahusika
        pale ambapo pekua itatumika kinyume na sheria. Watumiaji wa pekua.js
        wanaelewa wanachofanya.
        <br />
      </p>
      <div>
        <h5>Matumiazi</h5>
        <div>
          <h6>Kama modyuli
            <br />
            <span>pachika modyule ya pakua.js kwenye mradi wako kwa kutumia npm</span></h6>
          <div class="bg-dark">
            <code class="m-3">
              <small class="text-white">node.js</small>
              <small>/app - terminal or sh</small>
              <p
                class="m-1"
                style="background-color: dimgrey; color:white; border-radius:5px;"
              >
                <span class="m-3"> npm i pekua</span>
              </p>
            </code>
          </div>
          <br />

          <h6>Kutumia<br />
            <span>Tengeneza faili la kufanya upekuzi mfano:
              <code>kipekuzi.js</code>
            </span></h6>
          <div class="bg-dark">
            <div class="">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="text-white mb-0">
                <small class="text-muted">node.js</small>
                <small class="text-muted">/app/kipekuzi.js</small></h5>
                    <button class="btn btn-sm btn-primary" onclick="copyToClipboard()">Copy</button>
                </div>
                <pre class="" style="background-color: #343a40; color: #fff; border-radius: 0.25rem; ">
                    <code>
                        <p>
                        <span style="color: #4e75e2;">const</span> Pekua = <span style="color: #84860b;">require</span>('pekua');

                        <span style="color: #4e75e2;">const</span> url = 'http://example.com/items?page=1';

                        <span style="color: #4e75e2;">const</span> pekua = <span style="color: #4e75e2;">new</span> <span style="color: #147a36;">Pekua</span>();

                        <span style="color: #4e75e2;">const</span> params = <span style="color: #e2c74e;">{</span>
                             <i style="color: #cfcdc0;">elementId</i>: elementId,
                            <i style="color: #cfcdc0;">limit</i>: limit,
                            <i style="color: #cfcdc0;">pages</i>: pages,
                            <i style="color: #cfcdc0;">saveFormat</i>: saveFormat
                        <span style="color: #e2c74e;">}</span>

                        pekua(url, params, notifyCallback).then((data)=>{
                            console.log(data);
                        }).catch(err=>console.log(err));
                        </p>
                    </code>
                </pre>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>

    function copyToClipboard() {
        const codeSnippet = document.querySelector('pre code');
        const range = document.createRange();
        range.selectNode(codeSnippet);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
        alert('Code copied to clipboard!');
    }
</script>